@font-face {
    font-family: 'Visby Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Visby Heavy'), url('VisbyHeavy.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Visby Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Visby Medium'), url('VisbyMedium.woff') format('woff');
    font-display: swap;
}
